* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0e0f10;
  font-family: "Source Sans Pro", sans-serif;
}
body.noscroll {
  overflow: hidden;
}

button {
  all: unset;
  cursor: pointer;
}

aside,
footer,
header,
main,
section {
  margin: 0;
}

header {
  position: fixed;
  display: block;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  border-bottom: 2px solid #ed1c24;
  z-index: 2;
}
header div.header-wrap {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: row;
  justify-content: flex-start;
}

#wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 59px;
}

.flex-container {
  position: relative;
  margin-top: 20px;
  flex: 1 0 auto;
  order: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: #fff;
}
@media (min-width: 900px) {
  .flex-container {
    flex-direction: row;
  }
}

main {
  position: relative;
  margin: 0 0 40px 0;
  flex: 4 1 0;
  order: 1;
}
@media (min-width: 900px) {
  main {
    order: 2;
  }
}

#left-sidebar {
  position: relative;
  padding: 20px;
  order: 2;
  flex: 0 1 auto;
  min-width: 0;
  text-align: center;
  background-color: #1a1b1c;
}
@media (min-width: 900px) {
  #left-sidebar {
    order: 1;
    flex-basis: 300px;
  }
}

#right-sidebar {
  position: relative;
  min-width: 0;
  min-height: 800px;
  margin: 10px;
  order: 3;
  flex: 0 1 auto;
}
@media (min-width: 900px) {
  #right-sidebar {
    flex-basis: 300px;
  }
}

footer {
  position: relative;
  margin-top: 20px;
  padding: 20px 0 0;
  flex-shrink: 1;
  order: 10;
  background-color: #1a1111;
}
footer .footer-wrap {
  padding: 0;
}
footer .footer-wrap nav {
  position: relative;
  display: flex;
  max-width: 450px;
  margin: 0 auto 60px;
}
footer .footer-wrap nav .footer-panel {
  flex: 1 0 auto;
  list-style-type: none;
  text-align: center;
  color: gray;
}
footer .footer-wrap nav .footer-panel li {
  margin: 0 0 20px 0;
}
footer .footer-wrap nav .footer-panel li a {
  font-size: 14px;
  color: #b2b2b2;
  text-decoration: none;
}
@media (min-width: 600px) {
  footer .footer-wrap {
    padding: 20px;
  }
}
@media (min-width: 600px) {
  footer {
    padding: 20px;
  }
}
footer #copyright {
  width: 100%;
  text-align: center;
  color: gray;
}

a.referenceURL {
  color: #cdcdcd;
}

a.referenceURL:hover {
  color: #cdcdcd;
}

a.referenceURL:visited {
  color: #cdcdcd;
}

h1.pageHeaderText {
  margin: 20px 0 10px;
  color: #fff;
  font-size: 32px;
  text-align: center;
}

h1.tableHeader {
  color: #fff;
  font-size: 32px;
  margin: 20px 0;
  text-align: left;
}

nav.navbar {
  position: relative;
  width: 100%;
  order: 1;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
}
@media (min-width: 900px) {
  nav.navbar {
    display: block;
    width: auto;
  }
}
nav.navbar ul {
  box-sizing: border-box;
  list-style-type: none;
}
nav.navbar ul.navbar-container {
  display: none;
  padding: 20px;
}
nav.navbar ul.navbar-container > li.navbar-elem {
  position: relative;
  margin: 0;
}
nav.navbar ul.navbar-container > li.navbar-elem a {
  display: block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 10px;
  color: white;
}
nav.navbar ul.navbar-container > li.navbar-elem a:hover {
  color: white;
}
@media (min-width: 900px) {
  nav.navbar ul.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px;
  }
  nav.navbar ul.navbar-container li.navbar-elem:hover {
    background-color: #ed1c24;
  }
  nav.navbar ul.navbar-container li.navbar-elem:hover > ul.navbar-dropdown {
    display: flex;
    flex-direction: column;
  }
}
nav.navbar ul.navbar-container.active {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 53px 0 0 0;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.95);
}
nav.navbar ul.navbar-container.active li.navbar-elem {
  text-align: center;
}
nav.navbar ul.navbar-container.active li.navbar-elem a {
  position: relative;
  display: block;
  padding: 15px 0;
}
nav.navbar ul.navbar-dropdown {
  position: absolute;
  display: none;
}
@media (min-width: 900px) {
  nav.navbar ul.navbar-dropdown > li.navbar-elem {
    position: relative;
    width: 200px;
    margin: 0;
  }
  nav.navbar ul.navbar-dropdown > li.navbar-elem > a {
    color: #000;
  }
  nav.navbar ul.navbar-dropdown > li.navbar-elem:hover {
    background-color: #333333;
  }
  nav.navbar ul.navbar-dropdown > li.navbar-elem:hover > a {
    color: white;
  }
}
nav.navbar ul.navbar-dropdown.d1 {
  background-color: rgba(25, 25, 25, 0.5);
}
@media (min-width: 900px) {
  nav.navbar ul.navbar-dropdown.d1 {
    background-color: #fff;
  }
}
nav.navbar ul.navbar-dropdown.d2 {
  background-color: rgba(50, 50, 50, 0.3);
}
@media (min-width: 900px) {
  nav.navbar ul.navbar-dropdown.d2 {
    background-color: #fff;
    top: 0;
    left: 100%;
  }
}
nav.navbar ul.navbar-dropdown.active {
  position: relative;
  display: flex;
  flex-direction: column;
}
nav.navbar button.navbar-ham {
  position: absolute;
  display: block;
  border: none;
  width: 26px;
  height: 26px;
  margin-right: 20px;
  right: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  order: 1;
}
@media (min-width: 900px) {
  nav.navbar button.navbar-ham {
    display: none;
  }
}

#brand-icon {
  position: relative;
  width: 0;
  order: 0;
}
@media (min-width: 900px) {
  #brand-icon {
    width: 185px;
  }
}
#brand-icon a img {
  position: relative;
  width: 134px;
  height: 53px;
  z-index: 1;
}
@media (min-width: 900px) {
  #brand-icon a img {
    position: absolute;
    width: 185px;
    height: 73px;
  }
}

#banner {
  display: none;
  position: relative;
  margin: 0;
  order: 1;
  flex: 0 1 auto;
  background-color: #222;
}
@media (min-width: 600px) {
  #banner {
    display: block;
  }
}
#banner #main-slider {
  width: 300px;
  margin: 0 auto;
}
@media (min-width: 600px) {
  #banner #main-slider {
    width: 600px;
  }
}
@media (min-width: 900px) {
  #banner #main-slider {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  #banner #main-slider {
    width: 1200px;
  }
}
#banner #main-slider .keen-slider__slide img {
  width: 100px;
  height: 66px;
}
@media (min-width: 600px) {
  #banner #main-slider .keen-slider__slide img {
    width: 200px;
    height: 133px;
  }
}
@media (min-width: 900px) {
  #banner #main-slider .keen-slider__slide img {
    width: 300px;
    height: 200px;
  }
}
@media (min-width: 1200px) {
  #banner #main-slider .keen-slider__slide img {
    width: 400px;
    height: 266px;
  }
}

@media (min-width: 900px) {
  article.previewArticle.homeMode {
    height: 180px;
  }
}
@media (min-width: 900px) {
  article.previewArticle.homeMode a div.previewLeft {
    flex-basis: 240px;
    height: 180px;
  }
}
@media (min-width: 900px) {
  article.previewArticle.homeMode a div.previewLeft img {
    width: 240px;
    height: 180px;
  }
}

article.previewArticle {
  position: relative;
  display: block;
  width: calc(100% - 20px);
  height: 90px;
  min-width: 280px;
  margin: 10px 10px 20px;
  overflow: hidden;
}
@media (min-width: 600px) {
  article.previewArticle {
    height: 120px;
    margin: 10px 10px 30px;
  }
}
article.previewArticle a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  color: #fff;
}
article.previewArticle a div.previewLeft {
  flex: 0 0 120px;
  height: 90px;
  background-image: url(../resources/xll_logo_news.png);
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #232323;
  order: 1;
}
@media (min-width: 600px) {
  article.previewArticle a div.previewLeft {
    flex-basis: 160px;
    height: 120px;
  }
}
article.previewArticle a div.previewLeft img {
  width: 120px;
  height: 90px;
}
@media (min-width: 600px) {
  article.previewArticle a div.previewLeft img {
    width: 160px;
    height: 120px;
  }
}
article.previewArticle a div.previewRight {
  margin: 10px 0 0 10px;
  flex: 0 1 auto;
  order: 2;
}
@media (min-width: 600px) {
  article.previewArticle a div.previewRight {
    margin: 10px 0 0 20px;
  }
}
article.previewArticle a div.previewRight span {
  display: table;
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
}
article.previewArticle a div.previewRight span.previewDate {
  font-size: 10px;
  font-weight: 700;
}
@media (min-width: 600px) {
  article.previewArticle a div.previewRight span.previewDate {
    font-size: 11px;
  }
}
article.previewArticle a div.previewRight span.previewHeaderText {
  font-size: 14px;
  font-weight: 700;
}
@media (min-width: 600px) {
  article.previewArticle a div.previewRight span.previewHeaderText {
    font-size: 18px;
  }
}
@media (min-width: 900px) {
  article.previewArticle a div.previewRight span.previewHeaderText {
    font-size: 24px;
  }
}
article.previewArticle a div.previewRight span.previewContent {
  margin: 5px 0 0 0;
  font-size: 10px;
}
@media (min-width: 600px) {
  article.previewArticle a div.previewRight span.previewContent {
    margin: 10px 0 0 0;
  }
}
@media (min-width: 900px) {
  article.previewArticle a div.previewRight span.previewContent {
    font-size: 12px;
  }
}
article.previewArticle a:hover {
  background-color: #1a1b1c;
}

#newsListWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 900px) {
  #newsListWrapper {
    width: 800px;
    margin: 0 auto;
  }
}

#newsPostWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}
@media (min-width: 600px) {
  #newsPostWrapper {
    width: 600px;
  }
}
@media (min-width: 900px) {
  #newsPostWrapper {
    width: 800px;
  }
}
#newsPostWrapper #header-img {
  position: relative;
  width: 300px;
  height: 150px;
  background-image: url(../resources/placeholder.png);
  background-size: cover;
  background-position: center center;
  background-color: #222;
}
@media (min-width: 600px) {
  #newsPostWrapper #header-img {
    width: 600px;
    height: 300px;
  }
}
@media (min-width: 900px) {
  #newsPostWrapper #header-img {
    width: 800px;
    height: 400px;
  }
}
#newsPostWrapper #headline-section {
  margin: 10px;
}
@media (min-width: 900px) {
  #newsPostWrapper #headline-section {
    margin: 0;
  }
}
#newsPostWrapper #headline-section h1 {
  margin: 15px 0;
  font-size: 18px;
}
@media (min-width: 900px) {
  #newsPostWrapper #headline-section h1 {
    font-size: 32px;
  }
}
#newsPostWrapper #headline-section div.subTextContainer span {
  display: block;
  width: 100%;
  margin: 0 0 5px 0;
  font-size: 12px;
}
#newsPostWrapper #headline-section div.subTextContainer span.dateEditedText {
  color: #bbb;
  font-style: italic;
}
#newsPostWrapper #content-section {
  margin: 40px 10px;
}

#loadNewsArea {
  position: relative;
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

button.loadNewsBtn {
  position: relative;
  display: block;
  width: 300px;
  margin: 0 auto;
  padding: 10px 0;
  border: 1px solid #ddd;
}

button.loadNewsBtn:hover {
  background-color: #232323;
}

#instagram-widget {
  height: 450px !important;
  overflow: auto;
}

#twitter-widget {
  height: 450px !important;
  margin-bottom: 20px;
  overflow: hidden;
}

.instagram-media {
  min-width: 160px !important;
  border: 0 !important;
}

.instagram-media-rendered {
  margin: 0 auto;
  max-width: 100% !important;
  width: 100% !important;
}

#partnersWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 260px;
  margin: 20px auto 0;
  padding: 0;
  gap: 20px;
}
@media (min-width: 600px) {
  #partnersWrapper {
    width: 600px;
    padding: 0 20px;
  }
}
@media (min-width: 900px) {
  #partnersWrapper {
    width: 800px;
  }
}
#partnersWrapper .partner-elem {
  position: relative;
  display: block;
  height: 200px;
  flex: 0 1 200px;
  margin: 0;
}
#partnersWrapper .partner-elem a {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.4);
}
@media (min-width: 1200px) {
  #partnersWrapper .partner-elem a {
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 0.25s ease-out;
    -moz-transition: background-color 0.25s ease-out;
    -o-transition: background-color 0.25s ease-out;
    transition: background-color 0.25s ease-out;
  }
}
#partnersWrapper .partner-elem a img {
  position: absolute;
  z-index: -1;
}
#partnersWrapper .partner-elem a span {
  display: block;
  padding: 80px 0;
  text-align: center;
  color: #fff;
  text-shadow: 3px 3px #000000;
}
@media (min-width: 1200px) {
  #partnersWrapper .partner-elem a span {
    visibility: hidden;
  }
}
@media (min-width: 1200px) {
  #partnersWrapper .partner-elem a:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  #partnersWrapper .partner-elem a:hover span {
    visibility: visible;
  }
}

.table-wrapper {
  overflow: auto;
}
.table-wrapper > table {
  width: 600px;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #242424;
  background-color: white;
  border-collapse: collapse;
  border: 1px solid #e6e6e6;
}
@media (min-width: 600px) {
  .table-wrapper > table {
    font-size: 16px;
  }
}
.table-wrapper > table thead {
  font-weight: 700;
}
.table-wrapper > table thead > tr {
  color: black;
  background-color: #e6e6e6;
}
.table-wrapper > table thead > tr th {
  padding: 10px;
  text-align: left;
  background-color: #e6e6e6;
}
.table-wrapper > table tbody tr {
  border-collapse: collapse;
  border: 1px solid #e6e6e6;
}
.table-wrapper > table tbody tr td {
  padding: 10px;
  text-align: left;
}
.table-wrapper > table tbody tr td:first-child {
  border-right: 1px solid #e6e6e6;
}
.table-wrapper > table tbody tr:nth-child(odd) {
  background-color: white;
}
.table-wrapper > table tbody tr:nth-child(odd) td {
  background-color: white;
}
.table-wrapper > table tbody tr:nth-child(even) {
  background-color: #fafafa;
}
.table-wrapper > table tbody tr:nth-child(even) td {
  background-color: #fafafa;
}
.table-wrapper > table.large {
  width: 800px;
}
.table-wrapper > table.small {
  width: 400px;
}
.table-wrapper > .roster-table thead tr th {
  width: 52px;
  text-align: center;
}
.table-wrapper > .roster-table thead tr th:first-child {
  position: absolute;
  display: block;
  width: 200px;
  text-align: left;
}
.table-wrapper > .roster-table tbody tr td {
  width: 52px;
  text-align: center;
}
.table-wrapper > .roster-table tbody tr td:first-child {
  position: absolute;
  display: block;
  width: 200px;
  text-align: left;
}
.table-wrapper > .roster-table.goaltender-table {
  margin: 0 auto;
}

#galleryWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 260px;
  margin: 20px auto 0;
  padding: 0;
  gap: 20px;
}
@media (min-width: 600px) {
  #galleryWrapper {
    width: 100%;
    padding: 0 20px;
  }
}
#galleryWrapper .gallery-elem {
  position: relative;
  display: block;
  flex: 0 1 auto;
  cursor: pointer;
  background-color: black;
}
#galleryWrapper .gallery-elem img {
  height: 200px;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#galleryWrapper .gallery-elem:hover img {
  opacity: 0.5;
}

#pageOverlay {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
  cursor: pointer;
}
#pageOverlay a.closeBtn {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: 73px;
  right: 15px;
  margin: 10px;
  background-image: url(../resources/closeicon.png);
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  order: 1;
}
#pageOverlay a.closeBtn:focus {
  outline: none;
}
#pageOverlay #overlayWrapper {
  position: relative;
  display: block;
}
#pageOverlay #overlayWrapper img {
  max-height: 800px;
}

/*# sourceMappingURL=style.css.map */
