$body_background_color: rgba(14,15,16,1);
$panel_background_color: rgba(26,27,28,1);

$nav_text_color: rgba(255,255,255,1);
$nav_hover_text_color: rgba(255,255,255,1);
$nav_hover_d0_bg_color: rgba(237,28,36,1);
$nav_hover_d1_bg_color: rgba(51,51,51,1);
$nav_hover_d2_bg_color: rgba(51,51,51,1);

$header_background: rgba(0, 0, 0, 1);
$nav_mobile_d0_bg_color: rgba(0, 0, 0, 0.95);
$nav_mobile_d1_bg_color: rgba(25, 25, 25, 0.5);
$nav_mobile_d2_bg_color: rgba(50, 50, 50, 0.3);

$footer_bg_color: rgba(26, 17, 17, 1);
$footer_text_color: rgba(128, 128, 128, 1);
$footer_link_color: rgba(178, 178, 178, 1);

$table_header_text_color: rgba(0, 0, 0, 1);
$table_header_bg_color: rgba(230, 230, 230, 1);

$table_row_text_color: rgba(36, 36, 36, 1);
$table_row_odd_bg_color: rgba(255, 255, 255, 1);
$table_row_even_bg_color: rgba(250, 250, 250, 1);
$table_row_border_color: rgba(230, 230, 230, 1);