$body_bg_color: rgba(255, 255, 255, 1);

$main_bg_color: rgba(221, 221, 221, 1);

$nav_header_font_color: rgba(255, 255, 255, 1);
$nav_link_font_color: rgba(0, 0, 0, 1);
$nav_link_fill_color: rgba(255, 255, 255, 1);
$nav_link_hover_fill_color: rgba(153, 153, 255, 1);
$nav_link_active_fill_color: rgba(153, 153, 255, 1);
$nav_link_return_fill_color: rgba(152, 152, 152, 1);
$nav_bg_color: rgba(0, 0, 34, 1);

$header_bg_color: rgba(170, 170, 170, 1);
$header_border_color: rgba(0, 0, 34, 1);

$button_font_color: rgba(0, 0, 0, 1);
$button_fill_color: rgba(255, 255, 255, 1);
$button_hover_fill_color: rgba(153, 153, 255, 1);
$button_active_fill_color: rgba(153, 153, 255, 1);
$button_border_color: rgba(0, 0, 34, 1);

$data_font_color: rgba(0, 0, 0, 1);
$data_border_color: rgba(0, 0, 34, 1);
$data_fill_color: rgba(255, 255, 255, 1);
$data_preview_color: rgba(69, 69, 69, 1);

$table_font_color: rgba(0, 0, 0, 1);
$table_bg_color: rgba(255, 255, 255, 1);
$table_header_font_color: rgba(255, 255, 255, 1);
$table_header_bg_color: rgba(34, 34, 34, 1);
$table_border_color: rgba(170, 170, 170, 1);

$message_font_color: rgba(0, 0, 0, 1);
$message_border_color: rgba(34, 34, 34, 1);
$alert_bg_color: rgba(100, 100, 0, 0.4);
$error_bg_color: rgba(100, 0, 0, 0.4);


$login_panel_color: rgba(221, 221, 221, 1);
$login_border_color: rgba(0, 0, 34, 1);