ul.archiveList {
    margin: 20px 0;
    list-style-type: none;
    border: 1px solid $data_border_color;
    background-color: $data_fill_color;

    li {
        position: relative;
        border-bottom: 1px solid $data_border_color;

        &:last-child {
            border-bottom: none;
        }

        a {
            &.list-elem {
                position: relative;
                display: block;
                padding: 10px;
                text-decoration: none;
                color: $data_font_color;
            }
            &.delBtn {
                position: absolute;
                display: block;
                width: 100px;
                top: 0;
                right: 0;
                @include button-style;
                border-width: 0 0 0 1px;
            }
        }
    }
}